.page-head
  %span.pull-right
    %a.blacklink{ href: root_path(format: :rss) }
      RSS
      %i.icon.rss
  .calendar
    = render "cheglakov/shared/calend"
  %span.pull-left
    %a{ href: "#" }
      %i.icon.page-down
  %h3= t("front.cheglakov.blog.my_blog")
= render "cheglakov/blog/posts", posts: @personal_posts
