%li{ class: section.include?("blog") ? "active" : nil }
  = link_to t('front.cheglakov.blog.my_blog'), root_path
- unless @static_pages[part].nil?
  - @static_pages[part].each do |sp| 
    %li{ class: (@static_page && (@static_page.id == sp.id)) ? "active" : nil }
      - sp_c = sp.contents.for_shard_language(@current_shard_language)[0]
      = link_to sp_c.title, static_page_path(sp.permalink)
