- unless tags.empty?
  %ul.content-tags
    - tags.each do |tag|
      %li{ class: (@tag && tag==@tag) ? 'active' : '' }
        = succeed(tags.last == tag ? "" : ",") do
          = link_to tag.name, blog_tagged_by_path(tag)
        -# = "," unless tag == tags.last